html,
body {
  height: 100%;
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/AvenirNextLTPro-Regular.otf)
}

* {
  font-family: Avenir;
}

#header {
  height: 6%;
}

h2 {
  margin-top: 0;
}

#left {
  height: 90%;
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15%;
}

#right {
  height: 90%;
  width: 50%;
  background: url(./resources/fadedTrackCropped.jpg)
  center no-repeat;
  background-size: cover;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 5px 17% 0 17%;
}

.albums {
  height: 200px;
  width: 200px;
  margin-top: 2%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-p {
  font-size: 20px;
  padding-left: 5%;
  margin: 7px;
}
